body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
  --app-height: 100vh; /* fallback */
  user-select: none;
  overflow: hidden;
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-slate-600) transparent;
  outline: none;
  transition: color 0.25s, background-color 0.25s, border-color 0.25s,
    opacity 0.25s, outline-color 0.25s;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important; /* Ẩn trên Chrome, Safari */
}
.hide-scrollbar {
  -ms-overflow-style: none !important; /* Ẩn trên IE và Edge */
  scrollbar-width: none !important; /* Ẩn trên Firefox */
}

button {
  cursor: pointer;
}

.sidebar-item:hover,
.sidebar-active {
  background: linear-gradient(
    90deg,
    rgba(230, 232, 16) -71.91%,
    rgba(255, 200, 0, 0) 100%
  );
}

/* --- Ẩn active khi icon ở trạng thái normal --- */
.sidebar-item__normal #iconACtive {
  display: none;
}

/* --- Khi hover vào normal → hiển thị active và ẩn normal --- */
.sidebar-item:hover .sidebar-item__normal #iconNormal {
  display: none;
}
.sidebar-item:hover .sidebar-item__normal #iconACtive {
  display: block;
}

/* --- Khi icon đang active (đã click) → luôn hiển thị active --- */
.sidebar-item__active #iconNormal {
  display: none;
}
.sidebar-item__active #iconACtive {
  display: block;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px var(--color-input) inset !important; /* đổi nền */
  -webkit-text-fill-color: var(--color-text-title) !important; /* màu chữ */
  transition: background-color 5000s ease-in-out 0s; /* ngăn nhảy màu */
}

.i,
.UP,
.g {
  color: var(--color-stock-text-green) !important;
}

.DOWN,
.d {
  color: var(--color-stock-text-red) !important;
}

.e,
.EQUAL,
.r,
.REF {
  color: var(--color-stock-text-yellow) !important;
}

.FLOOR,
.f {
  color: var(--color-stock-text-blue) !important;
}

.CEIL,
.c {
  color: var(--color-stock-text-purple) !important;
}
