.i,
.UP,
.green,
.g {
  color: rgba(11, 223, 57, 1) !important;
}

.DOWN,
.d,
.red {
  color: rgba(255, 13, 13, 1) !important;
}

.e,
.EQUAL,
.r,
.REF,
.yellow {
  color: rgba(253, 255, 18, 1) !important;
}

.FLOOR,
.f {
  color: rgb(0, 155, 222) !important;
}

.CEIL,
.c,
.violet {
  color: rgba(253, 2, 253, 1) !important;
}
